*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imagenes{
    height: 500px;
    width: 700px;
    margin-top: 45px;
}

.carrusel{
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#nav{
    height: 100px;
}